<!DOCTYPE html>
<!-- <html lang="en"></html> -->
<html lang="pt-BR"></html>
<html>
    <head>
        <!-- Title -->
        <title><%= title %></title>

        <!-- MetaTags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Links -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/style.scss' />
        <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <!-- Scripts -->
        <script>console.log('Framework-Konektron-LOs V1.1.0, Powered by Node js.');</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Navbar -->
        <div id="header"><%- header -%></div>
        <!-- body 1 -->
        <div id="body1" class="container">
          <div id="body"></div>
          <h1><%= title %></h1>
          <p><%= description %></p>
          <p><%= version %></p>
        </div>
        <!-- body 2 -->
        <div id="body2" class="container backPage">
            <%- doc -%>
        </div>
        <!-- footer -->
        <div id="footer"><%- footer -%></div>    
      </body>
</html> 
